<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t, %X{uuid}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name = "com.task.service.UserService" level = "DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level = "DEBUG">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>